<header>
    <div class="logoContainer">
        <a href="./index.html" aria-label="Retour à l'accueil">
            <img class="logo" src="./assets/signtature.png" alt="Signature WillCutting">
        </a>
        <h1>Willcutting Photography</h1>
    </div>
    <nav>
        <a href="./index.html#about">About</a>
        <a href="./index.html#event">Events</a>
        <a href="./index.html#contact">Contact</a>
        <a href="./blog.html">Blog</a>
        <a class="insta" href="https://instagram.com/WillCutting"><i class="fa-brands fa-instagram"></i></a>
    </nav>
</header>